@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@font-face {
   font-family: 'unicons';
   src: url('../fonts/unicons.ttf') format('truetype');
   font-weight: normal;
   font-style: normal;
}
  
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #0B2239;
}
span{
    background: #49ADE5 !important;
}
/* SVG Web */
#web{
    margin-top: 25%;
    margin-left: 15%;
    animation: fill 0.5s ease forwards 2.2s;
}

#web path:nth-child(1){
    stroke-dasharray: 790.47px;
    stroke-dashoffset: 790.47px;
    animation: line-animation 2s ease forwards;
}
#web path:nth-child(2){
    stroke-dasharray: 483.96px;
    stroke-dashoffset: 483.96px;
    animation: line-animation 2s ease forwards 0.3s;
}
#web path:nth-child(3){
    stroke-dasharray: 585px;
    stroke-dashoffset: 585px;
    animation: line-animation 2s ease forwards 0.6s;
}
/*  SVG Dev */
#dev{
    animation: fill 0.5s ease forwards 3.5s;
}
#dev path:nth-child(1){
    stroke-dasharray: 571px;
    stroke-dashoffset: 571px;
    animation: line-animation 2s ease forwards;
}
#dev path:nth-child(2){
    stroke-dasharray: 483.96px;
    stroke-dashoffset: 483.96px;
    animation: line-animation 2s ease forwards 0.3s;
}
#dev path:nth-child(3){
    stroke-dasharray: 456.33px;
    stroke-dashoffset: 456.33px;
    animation: line-animation 2s ease forwards 0.6s;
}
#dev path:nth-child(4){
    stroke-dasharray: 483.96px;
    stroke-dashoffset: 483.96px;
    animation: line-animation 2s ease forwards 0.9s;
}
#dev path:nth-child(5){
    stroke-dasharray: 317.21px;
    stroke-dashoffset: 317.21px;
    animation: line-animation 2s ease forwards 1.2s;
}
#dev path:nth-child(6){
    stroke-dasharray: 449px;
    stroke-dashoffset: 449px;
    animation: line-animation 2s ease forwards 1.5s;
}
#dev path:nth-child(7){
    stroke-dasharray: 550px;
    stroke-dashoffset: 550px;
    animation: line-animation 2s ease forwards 1.8s;
}
#dev path:nth-child(8){
    stroke-dasharray: 551px;
    stroke-dashoffset: 551px;
    animation: line-animation 2s ease forwards 2.1s;
}
#dev path:nth-child(9){
    stroke-dasharray: 565px;
    stroke-dashoffset:565px;
    animation: line-animation 2s ease forwards 2.4s;
}

@keyframes line-animation{
    to{
        stroke-dashoffset: 0;
    }
}
@keyframes fill{
    from{
        fill:transparent;
    }
    to{
        fill:white;
    }
}
/* Arrow to go down */
#down {
    /* display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top:25%; */
    animation: pulse 2s ease-in-out infinite;
}
@keyframes pulse{
0%   {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
50%  {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}
100%  {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1)
}
}
  
/* Name of the developer */
.name{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 3em;
    text-align: right;
    margin-right: 15%;
    animation:fadeIn ease 5s;
    -webkit-animation:fadeIn ease 5s;
    -moz-animation:fadeIn ease 5s;
    -o-animation:fadeIn ease 5s;
    -ms-animation:fadeIn ease 5s;
}
@keyframes fadeIn {
    0%, 10%, 90%, 100% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0%, 10%, 90%, 100% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0%, 10%, 90%, 100% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0%, 10%, 90%, 100% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0%, 10%, 90%, 100% {opacity:0;}
    100% {opacity:1;}
  }
/* Menu */
section.menu{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul{
    display: flex;
    flex-direction: column;
}

ul li{
    list-style: none;
}

ul li a{
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 3em;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    text-transform: uppercase;
}
ul li a:hover{
    text-decoration: none;
    color: #0077B5;
}
ul li a::before{
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    text-align: center;
    font-size: 3em;
    color: #717171;
    opacity: 0;
    line-height: 100vh;
    transition: 0.5s;
}
ul li:hover a::before{
    opacity: 1;
}  
  /* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    #web {
        margin-left: 5%;
    }
    .name {
        margin-right: 5%;
    }
}
  
  /* On screens that are 600px wide or less, the background color is olive */
@media screen and (max-width: 600px) {
    #web {
        margin-left: 0%;
        width:40%;
        height: auto;
    }
    .name {
        font-size: 2em;
        margin-right: 0%;
    }
}
/* About Section */
.about img{
    border-radius: 50%;
    width: 15vmin;
    height: 15vmin;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    transition: all 0.2s ease;
    border: 0.1px solid #ffffff;
    box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}
.about{
    position: relative;
}
.about::before{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #0B2239;
    position: absolute;
    left: 0;
    top: 0;
}
.about::after{
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #0B2239;
    position: absolute;
    left: 0;
    bottom: 0;
}
.about h3{
    font-size: 1rem;
    color: #2D2D2D;
    padding-top: 10px;
    padding-bottom: 10px;
}
.about i{
    font-size: 2.5em;
    padding-bottom: 10px;
    color: #2D2D2D;
}
.about p{
    color: #2D2D2D;
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.about .describe-me{
    font-size: 1rem;
}
.about a{
    color: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration : none;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    transition: 0.5s;
}

.about a:hover{
    transform: scale(1.1);
}
.about a i{
    color: #fff;
    padding-bottom: 0px;
    font-size: 1.2em;
}
.about .linkedin-btn{
    background-color: #0077B5;
}
.about .telegram-btn{
    background-color: #49ADE5;
}
.about .fiverr-btn{
    font-size: 10px;
    background-color: #1DBF73;
}
/* Top shape */
.custom-shape-divider-top-1609197899 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1609197899 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-top-1609197899 .shape-fill {
    fill: #0B2239;
}
/* Bottom shape */
.custom-shape-divider-bottom-1609205182 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609205182 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 80px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1609205182 .shape-fill {
    fill: #0B2239;
}

/* Services Section */

.services{
    color: #fff;
    display: flex
    
}
.services h1{
    font-size: 3em;
}
.services h3{
    margin-bottom: 30px;
}
.services i{
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 2.5em;
    padding-bottom: 10px;
}
.services p{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.services .p-text{
    font-size: 0.9rem;
    font-weight: normal;
    margin: 10px;
}
.services .col{
    min-width: 200px;
    min-height: 200px;
    /* background-color: #0077B5; */
    background-color: #2d2d2d;
    margin: 15px;
    padding-bottom: 10px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.05);
    border-radius: 15px;
    transition: 0.5s;

}
.services .col:hover{
    transform: scale(1.1);
}

/* Work section */
.work{
    position: relative;
}
.work .cardp{
    position: relative;
    width: 300px;
}

.work .cardp .face{
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.work .cardp .face.face1{
    position: relative;
    background: #2D2D2D;
    display: flex;
    justify-content:center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}
.work .cardp:hover .face.face1{
    background: #0B2239;
    transform: translateY(0);
}
.work .cardp .face.face1 .content{
    opacity: 0.3;
    transition: 0.5s;
}
.work .cardp:hover .face.face1 .content{
    opacity: 1;
}
.work .cardp .face.face1 .content img{
    max-width: 100px;
    margin: 0 auto;
    display: block;
}
.work .cardp .face.face1 .content h3{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
}
.work .cardp .face.face2{
    position: relative;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0,0,0,0.8);
    transform: translateY(-100px);
}
.work .cardp:hover .face.face2{
    transform: translateY(0);
}
.work .cardp .face.face2 p{
    margin: 0;
    padding: 0;
}

.work .cardp .face.face2 .content a{
    margin: 15px 0 0; 
    display: inline-block;
    text-decoration: none;
    font-weight: 900;
    color: #0B2239;
    padding: 5px;
    border: 1px solid #2D2D2D;
    font-family: 'Poppins', sans-serif;
}

.work .cardp .face.face2 .content a:hover{
    background: #0B2239;
    color: #fff;
}
.landing,.construction{
    position: relative;
    color: #fff;
}
.landing a,.construction a{
    position: absolute;
    top: 50%;
    left: 20px;
    font-size: 4em;
    color: #fff;
    transition: 0.5s;
}
.landing a:hover,.construction a:hover{
    transform: scale(1.1);
}
/* Top shape work section */
.custom-shape-divider-top-1609224276 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1609224276 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-top-1609224276 .shape-fill {
    fill: #0B2239;
}
/* Bottom shape work section */
.custom-shape-divider-bottom-1609224436 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1609224436 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 103px;
}

.custom-shape-divider-bottom-1609224436 .shape-fill {
    fill: #0B2239;
}

/* Contact Section */
.contact{
    position: relative;
}
.contact-content{
    margin: 8%;
    background-color: #fff;
    padding: 4rem 1rem 4rem 1rem;
    box-shadow: 0 0 5px 5px rgba(0,0,0,0.05);
    border-radius: 15px;
    font-family: 'Poppins', sans-serif;
}
.contact-text{
    font-style: normal;
    font-weight: 600 !important;
    font-size: 3em;
}
.form-input{
    overflow: hidden;
}
.btn-class{
    border-color: #0B2239;
    color: #0B2239;
    width: 50%;
}
.btn-class:hover{
    background-color: #0B2239;
    color: #fff;
}

.btn-class i{
    padding-left: 10px;
}
.form-group{
    position: relative;
    margin: 35px;
}
input{
    background: none;
    color: #2D2D2D;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #2D2D2D;
}
textarea{
    width: 100%;
    height: 100px;
    resize: none;
    background: none;
    color: #2D2D2D;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #2D2D2D;
}

input:focus,textarea:focus{
    outline: none;
    color: #2D2D2D;
}

label{
    color: #2D2D2D;
    font-size: 16px;
    position:absolute;
    left: 5px;
    top: 10px;
    transition: 0.5s ease-in-out all;
    pointer-events: none;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label{
    top: -14px;
    font-size: 12px;
    color: #0B2239;
}
.bar{
    position: relative;
    display:block;
    width:100%;
}
.bar::before{
    content:"";
    height: 3px;
    width: 0%;
    bottom: 0;
    position: absolute;
    background: #0B2239;
    transition: 0.3s ease width;
    left: 0;
}
input:focus~.bar::before,
textarea:focus~.bar::before{
    width: 100%;
}

footer{
    position: absolute;
    left: 0;
    bottom: 0;
    background:#2D2D2D;
    color: #fff;
    width: 100%;
}
footer p{
    font-family: 'Raleway', sans-serif;
}